<div class="container bg-secondary ">
  <ol class="pt-2">
  <% @posts.sort_by{|vote| vote.score}.reverse.each do |post| %>
    <li class="mt-1">
      <div class="row" data-controller="upvote" data-upvote-score-value="<%= post.score %>">
        <div class="col-1">
          <button data-upvote-target="button" data-action="click->upvote#fire">
            upvote
          </button>
        </div>
        <div class="col-11">
          <div>
            <%= link_to post.title, post_path(post) %> <a href="<%= post.url %>">(<%= post.url %>)</a>
          </div>
          <div>
            <%= post.score %> points by <%= post.author %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  </ol>

</div>
